
{% extends 'base.html.twig' %}

{% block title %}Modifie on mot de pass-SOUCK{% endblock %}

{% block content %}


    <div class="example-wrapper">
        <h1> Espace Personnel </h1>
        <h1>Modifie on mot de pass ✅</h1>
        <a href="{{ path('account') }}">Retour à mon compte</a><br>
        <br>
        {{ form(form) }}
        <br>
    </div>
{% endblock %}