{% extends 'base.html.twig' %}

{% block title %}compte-SOUCK{% endblock %}

{% block content %}


    <div class="example-wrapper">
        <h1> Espace Personnel </h1>
        <h1>Mon compte ✅</h1>

    </div>
{% endblock %}